img {
  width: 250px;
  text-align: center;
  margin: 30pt;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  position: absolute;
  right: 0;
  padding: 10px;
}

ion-footer ion-title {
  text-align: center;
  font-size: 10pt;
}

ion-badge {
  margin-top: 20pt;
  margin-left: 5pt;
}
